@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth;
  }

  body {
    @apply bg-dark-bg text-dark-text-primary;
  }
}

@layer utilities {
  .section-padding {
    @apply py-20 px-6 md:px-12 lg:px-24;
  }

  .container-width {
    @apply max-w-7xl mx-auto;
  }
}
